doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="main.sass")
        title Matcha Technologies 
    body
        h1 MATCHA TECHNOLOGIES
        h2 Landing page
        h2 prueba 