doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Matcha Technologies 
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="main.sass")
		//- link(rel="stylesheet", href="responsive.sass")



	body
		nav
			div.navbar
				div.navbar__logo
					img(src="img/matchalogocolor.png", alt="Logo en colores matcha")

				div.navbar__titles
					a(href="#") What	
					a(href="#services") Services 
					a(href="#who") Who
					a(href="#contact") contact
					
				div.navbar__social
					img(src="img/facebook.png", alt="Logo de facebook")
					img(src="img/instagram.png", alt="Logo de Instagram")
			
			.navbar-responsive
				div.navbar-responsive__logo
					img(src="img/matchalogocolor.png", alt="Logo en colores matcha")
				div.navbar-responsive__boton
					img#menu(src="img/menu_list.png" alt="Menu navbar")
			
			.navbar-desplegado.oculto
				div.navbar-desplegado__item.close
					img#close(src="img/close.png", alt="Close icon")
				div.navbar-desplegado__item 
					a We offered 
				div.navbar-desplegado__item 
					a Servicess
				div.navbar-desplegado__item 
					a Why matcha
				div.navbar-desplegado__item 
					a Who we are
				div.navbar-desplegado__item 
					a Contact  
				div.navbar-desplegado__item.social
					img(src="img/facebook.png", alt="Logo de facebook")
					img(src="img/instagram.png", alt="Logo de Instagram")


		section.landing
			//- h1 MATCHA TECHNOLOGIES
			//- h2 Landing page
			div.landing__left 
				img.landing__inicio1(src="img/inicio1.png", alt="What we offer")
				p Digital solutions and creations for your business or personal project
			div.landing__right
				img.landing__inicio2(src="img/inicio.png", alt="Image of people building a screen")


		include includes/mixins.pug
		//- ------------------------------- services ------------------------------- -//
		br(id="services")
		section.services.container
			img.centerimg(src="img/services.png", alt="title services")
			.services__box 
				+sbox('Mobile Apps', 'iOS and Android applications for diverse needs across industries','img/services1.png') 
				+sbox('Frontend Web', 'Beautifully websites to bring ideas to life','img/services1.png') 
				+sbox('Product Desing', 'Creation of intuitive and functional software that is easy to use','img/services1.png')
				+sbox('Branding', 'We provide logo design and branding guidelines','img/services1.png') 
		//- ------------------------------ why matcha ------------------------------ -//
		br(id="why") 
		section.whymatcha.container
			img.centerimg(src="img/why.png", alt="title why matcha")
			.whymatcha__box.centerimg 
				div 
					p With over nine years in technology and design industries, we strive to provide the best quality solutions based on clients’ needs
				div 
					p We are passionate about opportunities to innovate and find ways to solve business chalanges
				img(src="img/why1.png", alt="image why matcha")
		//- ------------------------------- whoweare ------------------------------- -//
		br(id="who")
		section.whoare.container
			img.centerimg(src="img/who.png", alt="title who we are" )
			.whoare__box 
				.whoare__box__perfil
					img(src="img/who1.png", alt="Roger cotrina")
					div 
						h3 Roger Cotrina 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
						a(href="#") SEE PORTFOLIO
				.whoare__box__perfil
					img(src="img/who2.png", alt="Roger cotrina")
					div 
						h3 Roger Cotrina 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
						a(href="#") SEE PORTFOLIO
		//- -------------------------------- contact ------------------------------- -//
		br(id="contact") 
		section.contact.container
			img.centerimg(src="img/contact.png", alt="title contact" )
			.contact__box 
				div 
					input(type="text" placeholder="Name")
					input(type="text" placeholder="Email")
				div 
					input(type="text" placeholder="Phone number ")
					input(type="text" placeholder="Company")

				textarea(rows="4" cols="50" placeholder="Message ...")
				button SUBMIT
		//- ------------------------------- location ------------------------------- -//
		section.location 
			p We are located in Orlando/FL and thanks to technology, we can embrace new possibilities working from anywhere. Therefore, we are able to offer the best remote services to the client as if we were face to face!
		//- -------------------------------- footer -------------------------------- -//
		footer
			img( alt="matcha technologies logo"  src="img/matchalogo.png")
			img(src="img/line.png", alt="line")
			div
				p E-MAIL 
				p info@matchatech.dev

	script(src="js/barra.js") 





				


			


