$fuente: 'Raleway', sans-serif
$color1: #4EB748
$color2: #56219B


body
	font-family: $fuente

.container
	padding: 60px 15%

.services
	&__box
		display: grid
		grid-template-columns: repeat(4,1fr)
		grid-gap: 70px
		&__item
			display: grid
			align-items: top
			justify-items: center
			text-align: center
			height: 270px
			h4 
				color: $color1 
				font-weight: 800
				font-size: 24px
				
			p 
				margin: 5px 0 
				color: $color2
				font-weight: 600
				font-size: 22px