@media only screen and (max-width: 600px)
  .container
    padding: 50px 5%
  .centerimg
    display: block
    margin: auto
  /* -------------------------------- services -------------------------------- */
  .services
    display: none
  /* ------------------------------- why matcha ------------------------------- */
  .whymatcha
    display: none
  /* ------------------------------- who we are ------------------------------- */
  .whoare
    display: none
  /* --------------------------------- contact -------------------------------- */
  .contact
   
    &__box 
      padding: 0 10px
    
      input
        width: 90%
        font-size: 20px
        margin-top: 5px
        font-size: 18px

      textarea
        width: 90%
        margin-top: 10px
      ::placeholder
        font-weight: 500
        font-size: 18px
      div 
        display: grid
        grid-template-columns: 1fr
        grid-gap: 5px
      button
        float: right
        color: white
        width: 100%
      
    

  /* -------------------------------- location -------------------------------- */

  .location
    background-image: url('img/banner2.png')
    // margin-top: 50px
    font-size: 16px
    font-weight: 700
    padding-top: 130px
    padding-bottom: 10px
    padding-left: 140px
    padding-right: 30px
  /* --------------------------------- footer --------------------------------- */

  footer
    padding-left: 17px
    p 
      font-size: 13px
      text-align: center
    p:nth-child(1)
      font-weight: 700
    img 
      margin-right: 50px	
    img:nth-child(2)
      display: none

