.landing
    background-color: $color2
    // height: 500px
    color: white
    padding-top: 150px
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 160px 160px
    grid-template-areas: "what image" "texto image"
    padding-left: 20%
    padding-right: 435px
    padding-bottom: 88px

    &__what
        grid-area: what
        img
            height: 159px
    
    &__texto
        grid-area: texto
        font-size: 25px


    &__image
        grid-area: image
        display: flex
        align-items: center
        img
            height: 325px
    

    // &__left
    //     padding-top: 100px
    //     width: 80%
    //     font-size: 25px

    // &__right
    //     height: 100%
    //     display: flex
    //     align-items: center

@media only screen and (max-width: 600px)
    .landing
        grid-template-columns: 1fr
        grid-template-rows: 98px 133px 100%
        grid-template-areas: "what" "image" "texto"
        padding: 0px
        justify-items: center
        
        padding-top: 39px

        &__what
            grid-area: what
            img
                height: 98px

        &__image
            img
                height: 133px

        &__texto
            padding-left: 16px
            padding-right: 16px
            font-size: 20px
            padding-bottom: 20px

        // &__inicio1
        //     height: 98px
            
        // &__inicio2
        //     height: 180px
        // &__left
        //     padding-top: 56px
        