$fuente: 'Raleway', sans-serif
$color1: #4EB748
$color2: #401A74

html 
	scroll-behavior: smooth


body
	font-family: $fuente
	margin: 0
	padding: 0

.container
	padding: 50px 18%
	// margin-top: 20px	

/* -------------------------------- services -------------------------------- */
.services
	display: none 
	padding: 50px 18%
	&__box
		display: grid
		grid-template-columns: repeat(4,1fr)
		grid-gap: 100px
		margin-top: 40px
		&__item
			display: grid
			align-items: top
			justify-items: center
			h4 
				color: $color1 
				font-weight: 800
				font-size: 24px
				margin: 14px 0
				
			p 
				margin: 0px 0 
				color: $color2
				font-weight: 600
				font-size: 22px
				text-align: center
				height: 80px

/* ------------------------------- why matcha ------------------------------- */
.whymatcha
	display: none 
	background-color: #F3F2F2
	margin-top: 60px
	&__box 
		display: flex
		color: white
		align-items: center
		font-weight: 600
		font-size: 25px
		text-align: center
		div:nth-child(1)
			background-color: $color2

			width: 356px
			padding: 65px 35px
		div:nth-child(2)
			background-color: $color1
			width: 300px
			padding: 58px 30px
		img
			margin-left: -100px
			margin-bottom: -50px

/* ------------------------------- who we are ------------------------------- */
.whoare
	display: none 
	padding: 40px 18%
	&__box 
		display: grid
		grid-template-columns: 1fr 1fr
		margin-top: 60px
		grid-gap: 50px
		&__perfil 
			display: flex
			align-items: center
			font-weight: 600
			line-height: 32px
			img 
				margin-right: 15px
	
			h3
				font-size: 22px
				color: $color1
			p 
				color: $color2
				padding-right: 20px
				font-size: 22px

			a 
				color: $color1
				font-weight: 700
				font-size: 20px

/* --------------------------------- contact -------------------------------- */
.contact
	display: none 
	&__box 
		padding: 0 100px
		input
			color: $color2
			outline: none
			width: 100%
			border: 2px solid #979797
			padding: 10px
			border-radius: 20px
			font-size: 20px
			margin-top: 20px
			font-weight: 700
			font-family: $fuente


		textarea
			outline: none
			width: 100%
			border: 2px solid #979797
			padding: 10px
			border-radius: 20px
			font-size: 20px
			margin-top: 20px
			font-weight: 700

		::placeholder
			color: $color2
			font-weight: 600
			font-family: $fuente
		div 
			display: grid
			grid-template-columns: 1fr 1fr
			grid-gap: 100px
		button
			// text-align: right
			float: right
			color: white
			background-color: $color1
			padding: 10px 50px
			margin-top: 10px
			border-radius: 20px
			font-size: 20px
			border: 0px solid 
		button:hover 
			cursor: pointer

/* -------------------------------- location -------------------------------- */

.location
	display: none 
	background-image: url('../img/banner.png')
	// text-align: justify
	margin-top: 20px
	color: white
	font-size: 22px
	font-weight: 700
	padding-top: 100px
	padding-bottom: 50px
	padding-left: 700px
	padding-right: 800px

/* --------------------------------- footer --------------------------------- */

footer
	color: white
	display: flex
	display: none 
	background-color: #151515
	align-items: center
	padding-left: 410px
	padding-top: 30px
	padding-bottom: 30px
	p 
		margin: 0
	img 
		margin-right: 50px	


@import responsive

@import navbar
@import landing


.oculto
	display: none
.show
	display: flex
