.navbar
    background-color: $color2
    color: white
    position: fixed
    top: 0
    // left: 0
    width: 100%
    height: 100px
    
    // GRID NAVBAR 
    display: grid
    grid-template-columns: 2fr 4fr 2fr
    justify-items: center
    align-items: center 

    // ANIMATION
    transition: all 0.4s ease
    &.color-change
        background-color: $color2
        height: 80px

    &__titles
        width: 60%
        display: flex
        justify-content: space-between
        font-size: 25px

    &__social
        width: 30%
        display: flex
        justify-content: space-between
