.navbar-responsive
    display: none 
.navbar-desplegado
    display: none 

.navbar
    background-color: $color2
    color: white
    position: fixed
    top: 0
    width: 100%
    height: 100px
    
    // GRID NAVBAR 
    display: grid
    grid-template-columns: 2fr 4fr 2fr
    justify-items: center
    align-items: center 

    // ANIMATION
    transition: all 0.4s ease
    &.color-change
        background-color: $color2
        height: 80px

    &__titles
        width: 60%
        display: flex
        justify-content: space-between
        font-size: 25px
        a 
            color: white
            text-decoration: none
            font-weight: 600
        a:hover
            color: $color1

    &__social
        width: 30%
        display: flex
        justify-content: space-between

/* -------------------------------- responsive ------------------------------- */
@media only screen and (max-width: 600px)
    .navbar-desplegado
        display: flex
        position: fixed

        top: 0
        left: 0

        width: 100%
        height: 100%

        z-index: 2

        background-color: $color2
        color: white
        font-size: 20px

        padding-top: 30px
        flex-direction: column
        
        text-align: center

        
        &__item
            padding-top: 35px
            // width: 100%
            &.social
                img
                    margin-left: 10px
            &.close
                text-align: right
                margin-right: 20px
                img
                    height:  27px
    .navbar
        display: none
        
    .navbar-responsive
        display: grid
        grid-template-columns: 90% 10%
        background-color: $color2
        color: white
        align-items: center
        padding: 0px 10px 
        &__logo
            img
                width: 200px

        &__boton
            img
                width: 30px


    