@media only screen and (max-width: 600px)
  .container
    padding: 20px 5%
  .centerimg
    display: block
    margin: auto
  
  /* -------------------------------- landing -------------------------------- */
  .landing
    grid-template-columns: 1fr
    grid-template-areas: "what" "image" "texto"
    
    padding-top: 137px
    &__what
      justify-self: center
      img
        width: 290px
    
    &__texto
      justify-self: center
      margin: 0px
      margin-left: 16px
      margin-right: 16px
      font-size: 20px
      text-align: center
      
      margin-bottom: 20px

    &__image
      justify-self: center
      img
        width: 220px
   

  /* -------------------------------- services -------------------------------- */
  .services
    &__box
      grid-template-columns: 1fr

  /* ------------------------------- why matcha ------------------------------- */
  .whymatcha
    &__box
      grid-template-columns: 1fr
      div:nth-child(1)
        width: 100%
        padding: 0px
        margin-bottom: 5px
        margin-top: 20px
      div:nth-child(2)
        width: 100%
        padding: 0px

  /* ------------------------------- who we are ------------------------------- */
  .whoare
   p 
     padding: 0 30px
      
  /* --------------------------------- contact -------------------------------- */
  
  /* -------------------------------- location -------------------------------- */

  .location
    background-image: url('../img/banner2.png')
    padding-left: 140px
    padding-right: 30px
  /* --------------------------------- footer --------------------------------- */

  footer
    padding-left: 17px
    p 
      font-size: 13px
      text-align: center
    p:nth-child(1)
      font-weight: 700
    img 
      margin-right: 50px	
      width: 114px
    img:nth-child(2)
      display: none

