@media only screen and (max-width: 600px)
  .container
    padding: 20px 5%
  .centerimg
    display: block
    margin: auto
  
  /* -------------------------------- landing -------------------------------- */
  .landing
    display: none
    // grid-template-columns: 1fr
    // grid-template-rows: 98px 133px 100%
    // grid-template-areas: "what" "image" "texto"
    // padding: 0px
    // justify-items: center
    // padding-top: 39px
    // &__what
    //   grid-area: what
    // &__texto
    //   padding-left: 16px
    //   padding-right: 16px
    //   font-size: 20px
    //   padding-bottom: 20px

  /* -------------------------------- services -------------------------------- */
  .services
    &__box
      grid-template-columns: 1fr

  /* ------------------------------- why matcha ------------------------------- */
  .whymatcha
    &__box
      grid-template-columns: 1fr
      div:nth-child(1)
        width: 100%
        padding: 0px
        margin-bottom: 5px
        margin-top: 20px
      div:nth-child(2)
        width: 100%
        padding: 0px

  /* ------------------------------- who we are ------------------------------- */
  .whoare
   p 
     padding: 0 30px
      
  /* --------------------------------- contact -------------------------------- */
  .contact
  
  /* -------------------------------- location -------------------------------- */

  .location
    background-image: url('../img/banner2.png')
    padding-left: 140px
    padding-right: 30px
  /* --------------------------------- footer --------------------------------- */

  footer
    padding-left: 17px
    p 
      font-size: 13px
      text-align: center
    p:nth-child(1)
      font-weight: 700
    img 
      margin-right: 50px	
      width: 114px
    img:nth-child(2)
      display: none

