@media only screen and (max-width: 1030px)
  .container
    padding: 20px 5%
  
  /* -------------------------------- landing -------------------------------- */
  .landing
    display: none
    // grid-template-columns: 1fr
    // grid-template-rows: 98px 133px 100%
    // grid-template-areas: "what" "image" "texto"
    // padding: 0px
    // justify-items: center
    // padding-top: 39px
    // &__what
    //   grid-area: what
    // &__texto
    //   padding-left: 16px
    //   padding-right: 16px
    //   font-size: 20px
    //   padding-bottom: 20px

  /* -------------------------------- services -------------------------------- */
  .services
    padding: 20px 5% 0 5%
    &__box
      grid-template-columns: 1fr 1fr
      grid-gap: 10px

  /* ------------------------------- why matcha ------------------------------- */
  .whymatcha
    margin-top: 0
    img 
      width: 230px
    &__box
      display: grid
      grid-template-columns: 1fr 1fr
      div:nth-child(1)
        width: 100%
        padding: 0px
      div:nth-child(2)
        width: 100%
        padding: 0px
      img 
        display: none

  /* ------------------------------- who we are ------------------------------- */
  .whoare
    padding: 0px 5%
    &__box 
      grid-template-columns: 1fr
      text-align: center
      margin-top: 0
      grid-gap: 20px
      &__perfil 
        display: block
        img 
          display: block
          margin: auto
      
  /* --------------------------------- contact -------------------------------- */
  .contact
    &__box 
      padding: 0 10px
      input
        width: 90%
        margin-top: 5px
      textarea
        width: 90%
      div 
        grid-template-columns: 1fr
      
    

  /* -------------------------------- location -------------------------------- */

  .location
    margin-top: 50px
    font-weight: 700
    padding-top: 130px
    padding-bottom: 10px
    padding-left: 120px
    padding-right: 270px
  /* --------------------------------- footer --------------------------------- */

  footer
    padding-left: 17px
    p 
      font-size: 13px
      text-align: center
    p:nth-child(1)
      font-weight: 700
    img 
      margin-right: 50px	
      width: 114px
    img:nth-child(2)
      display: none

